<h1>Đây là trang {{title}}</h1>
<form acction="" method="post" id="addPost">
    <input type="text" name="title" placeholder="Tiêu đề">
    <textarea name="content" placeholder="Nội dung"></textarea>
    <button type="submit" >Thêm</button>
</form>