<div class="max-w-7xl mx-auto mb-8">
            <div></div>
            <div id="nameCategory" class="text-3xl mb-5 mt-4 font-semibold">Danh mục: {{{slugName.name}}}</div>
            <div class="flex gap-4">
                <div class="w-3/12 border-r border-gray-200">
                    <h3 class=" text-xl font-semibold">BỘ LỌC</h3>
                    <div class="px-8 py-2">
                        <div class="flex justify-between items-center mb-3">
                            <span class="text-lg font-semibold">Giá sản phẩm</span>
                            <svg width="1em" height="1em" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M1.41 0.589996L6 5.17L10.59 0.589996L12 2L6 8L0 2L1.41 0.589996Z" fill="currentColor"></path></svg>
                        </div>
                        <div>
                            <div>
                                <input type="checkbox" name="" id="">
                                <label for="">Dưới 500.000đ</label>
                            </div>
                            <div>
                                <input type="checkbox" name="" id="">
                                <label for="">Từ 500.000đ - 1.000.000đ</label>
                            </div>
                            <div>
                                <input type="checkbox" name="" id="">
                                <label for="">Từ 1.000.000đ - 2.000.000đ</label>
                            </div>
                        </div>
                    </div>
                    
                </div>

                <div class="w-9/12">
                    <div class="flex justify-end">
                        <span>2330 Kết quả</span>
                        <span>Lọc theo
                            <select name="" id="">
                                <option value="">Tất cả</option>
                                <option value="">Giá tăng dần</option>
                                <option value="">Giá giảm dần</option>
                            </select>
                        </span>
                    </div>
                    <div id="product" class="flex flex-wrap gap-4 py-6 px-4 mb-5">
                        
                    </div>
                </div>
            </div>
        </div>