<div class="grid grid-cols-1 max-w-7xl mx-auto mb-8">
    <div class="ml-6">
        <div>
            <ol class="flex gap-1 mb-3">
                <li>
                    <a href="/" class="text-sm text-gray-500 hover:text-black">Trang chủ</a>
                </li>
                <span>/</span>
                <li>
                    <a href="#" class="text-sm text-gray-500 hover:text-black">Đăng nhập</a>
            </ol>
        </div>
        <h2 class="font-bold text-2xl mb-7 text-center">Đăng nhập tài khoản</h2>
        <div class="max-w-xl mx-auto">
            <form class="grid grid-cols-2 gap-5">
                <div class="flex col-span-2 flex-col-reverse">
                    <input id="email" name="name" type="text" class="focus:shadow-lg focus:ring-[.9px] focus:ring-[#CB3D30] border border-gray-300 px-3 pb-3 pt-2 rounded-md leading-none outline-none">
                    <label class="mb-2 font-semibold" for="">Email của bạn</label>
                </div>
                <div class="flex col-span-2 flex-col-reverse">
                    <input id="password" name="name" type="password" class="focus:shadow-lg focus:ring-[.9px] focus:ring-[#CB3D30] border border-gray-300 px-3 pb-3 pt-2 rounded-md leading-none outline-none">
                    <label class="mb-2 font-semibold" for="">Mật khẩu</label>
                </div>
                <div></div>
                <div class="flex justify-center col-span-2 pt-1">
                    <button id="login" class="px-4 pb-[14px] pt-3 hover:shadow-lg w-full hover:ring-[.9px] hover:ring-gray-300 font-semibold rounded-md leading-none outline-none bg-gradient-to-r via-[#c73130] from-[#ffd400] to-[#663695] text-white">Đăng nhập</button>
                </div>
            </form>
            <div>
                <p class="text-center mt-5">Bạn chưa có tài khoản? <a href="/auth/dang-ky" class="text-[#c73130] font-semibold">Đăng ký ngay</a></p>
            </div>
        </div>
    </div>
    
</div>